* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* Main Front Cover Page */
#mainCoverPage{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto auto auto auto;
      height: 100vh;
      background: whitesmoke;
      padding: 1rem;
      gap: 0.5rem;
      grid-template-areas: "accontInfo accontInfo accontInfo accontInfo"
      "transactioncontainer transactioncontainer transactioncontainer transactioncontainer"
      "paybills paybills paybills paybills"
      "adscontainer adscontainer adscontainer adscontainer"
      "footer footer footer footer";
}
/* MAIN BODY */
.acctInfo{
      grid-area: accontInfo;
      background: white;
      border-radius: 0.7rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto 1.5rem auto;
      grid-template-areas: "acctIdServices"
      "marquee"
      "acctBalDeposit";
}
/* Contents Of .acctInfo */
.acctIdServices{
      grid-area: acctIdServices;
      /* border: 2px solid black; */
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      border-radius: 0.5rem;
      grid-template-areas: "photo name name headPhone scan bell";
}
/* contents of .acctIdServices */
.photo{
      grid-area: photo;
      /* border: 2px solid red; */
      display: flex;
      flex-direction: column;
      position: relative;
}
/* content of .photo */
.photoHolder{
      display: flex;
      flex-direction: column;
      width: 3rem;
      height: 3rem;
      /* border: 2px solid blue; */
      border-radius: 50%;
      position: inherit;
      margin: auto;
      background-image: url(images/kingphoto.jpg);
      background-position: 70%;
      background-size: 145%;
}
.name{
      grid-area: name;
      /* border: 2px solid red; */
      display: flex;
      flex-direction: column;
      position: relative;
}
/* content of .name */
.nameHolder{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 2rem;
      /* border: 2px solid blue; */
      margin: auto;
      align-items: center;
      cursor: pointer;
      font-size: 0.8rem;
      position: inherit;
}
.headPhone{
      grid-area: headPhone;
      /* border: 2px solid red; */
      display: flex;
      flex-direction: column;
      position: relative;
}
/* contents of .headPhone */
.headPhoneHolder{
      display: flex;
      flex-direction: column;
      width: 3rem;
      height: 3rem;
      /* border: 2px solid blue; */
      position: inherit;
      margin: auto;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 1.5rem;
      color: black;
}
.scan{
      grid-area: scan;
      /* border: 2px solid red; */
      display: flex;
      flex-direction: column;
      position: relative;
}
/* content of .scan */
.scanHolder{
      display: flex;
      flex-direction: column;
      width: 2rem;
      height: 2rem;
      position: inherit;
      /* border: 2px solid blue; */
      margin: auto;
      background-image: url(images/scan_logo.png);
      background-position: center;
      background-size: 70%;
      background-repeat: no-repeat;
}
.bell{
      grid-area: bell;
      /* border: 2px solid red; */
      display: flex;
      flex-direction: column;
      position: relative;
}
/* contents of .bell */
.bellHolder{
      display: flex;
      flex-direction: column;
      width: 2rem;
      height: 2rem;
      position: inherit;
      /* border: 2px solid blue; */
      margin: auto;
      text-decoration: none;
      font-size: 1.5rem;
      color: black;
      align-items: center;
      justify-content: center;
}
.redDot{
      display: flex;
      flex-direction: column;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background: red;
      position: absolute;
      left: 1.6rem;
      bottom: 1.6rem;
}

.marquee{
      grid-area: marquee;
      /* border: 2px solid black; */
      border-radius: 0.5rem;
}
.marquee a{
      color: black;
      font-family: 'Times New Roman', Times, serif;
}

.acctBalDeposit{
      grid-area: acctBalDeposit;
      border-radius: 0.7rem;
      background: rgba(0, 128, 19, 0.742);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      padding: 1rem;
      gap: 0.5rem;
      grid-template-areas: "availBal transHist"
      "amount addMoney";
}
/* contents of .acctBalDeposit */
.availBal{
      grid-area: availBal;
      /* border: 2px solid gold; */
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "shieldTick availableBalance availableBalance availableBalance availableBalance availableBalance availableBalance availableBalance eye";
}
/* contents of .availBal */
.shieldTick{
      grid-area: shieldTick;
      /* border: 2px solid red; */
      display: flex;
      position: relative;
      color: white;
      text-decoration: none;
}
/* content of .shieldTick */
.shieldHolder{
      display: flex;
      position: absolute;
      /* border: 2px solid white; */
      width: 100%;
      height: 100%;
      justify-content: end;
}
/* content of .shieldHolder */
.tick{
      display: flex;
      position: absolute;
      /* border: 2px solid black; */
      margin: auto;
      width: 1rem;
      height: 1rem;
      color: black;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
}
.availableBalance{
      grid-area: availableBalance;
      /* border: 2px solid blue; */
      display: flex;
      position: relative;
}
/* content of .availableBalance */
.availableBalanceHolder{
      display: flex;
      flex-direction: row;
      position: absolute;
      /* border: 2px solid white; */
      min-width: 100%;
      height: 100%;
      color: white;
      font-size: 0.8rem;
      justify-content: center;
}
.eye{
      grid-area: eye;
      /* border: 2px solid black; */
      display: flex;
      position: relative;
}
/* content of .eye */
.eyeHolder{
      display: flex;
      position: absolute;
      /* border: 2px solid white; */
      width: 100%;
      height: 100%;
      color: white;
      justify-content: start;
}

.amount{
      grid-area: amount;
      /* border: 2px solid gold; */
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "naira numbers numbers numbers numbers numbers numbers numbers";
}
/* contents of .amount */
.naira{
      grid-area: naira;
      /* border: 2px solid red; */
      display: flex;
      position: relative;
}
/* content of .naira */
.nairaHolder{
      display: flex;
      position: absolute;
      /* border: 2px solid white; */
      width: 100%;
      height: 100%;
      color: white;
      justify-content: end;
      align-items: center;
      /* text-decoration: line-through; */
      font-size: 0.9rem;
      top: 0.1rem;
}
.numbers{
      grid-area: numbers;
      /* border: 2px solid blue; */
      display: flex;
      position: relative;
}
/* content of .numbers */
.numberHolder{
      display: flex;
      position: absolute;
      /* border: 2px solid white; */
      min-width: 100%;
      height: 100%;
      color: white;
      align-items: center;
      font-size: 1.3rem;
}

.transHist {
      grid-area: transHist;
      /* border: 2px solid gold; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "transactionHistory";
}
/* content of .transHist */
.transactionHistory{
      grid-area: transactionHistory;
      /* border: 2px solid red; */
      display: flex;
      position: relative;
}
/* content of transactionHistory */
.transactionHistoryHolder{
      display: flex;
      position: absolute;
      /* border: 2px solid white; */
      width: 100%;
      height: 100%;
      color: white;
      justify-content: end;
      font-size: 0.8rem;
}

.addMoney{
      grid-area: addMoney;
      /* border: 2px solid gold; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "addCash";
}
/* content of .addMoney */
.addCash{
      grid-area: addCash;
      /* border: 2px solid red; */
      display: flex;
      position: relative;
}
/* content of addCash */
.addCashHolder{
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      /* border: 2px solid white; */
      justify-content: end;
      align-items: center;
}
.addCashHolder p{
      color: green;
      font-size: 0.8rem;
      background: white;
      padding: 0.4rem;
      border-radius: 1.3rem;
}



.transactionContainer{
      grid-area: transactioncontainer;
      background: white;
      border-radius: 0.7rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      /* gap: 0.5rem; */
      grid-template-areas: "toPay toBank withdraw";
}
/* contents of .transactionContainer */
.toPay{
      grid-area: toPay;
      /* border: 2px solid black; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "toPayLogo"
      "toPayWords";
      padding: 0.5rem;
      /* gap: 0.2rem; */
}
/* contents of .toPay */
.toPayLogo{
      grid-area: toPayLogo;
      /* border: 2px solid blue; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* content of .toPayLogo */
.toPayLogoHolder{
      display: flex;
      position: absolute;
      min-height: 1rem;
      min-width: 2rem;
      border: 6px solid whitesmoke;
      border-radius: 0.8rem;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 0.3rem;
}
.userLogo{
      display: flex;
      position: absolute;
      width: 1rem;
      height: 1rem;
      /* border: 2px solid red; */
      justify-content: center;
}
.toPayLogo .fa-solid{
      color: green;
      font-size: 1.5rem;
}
.userLogo .fa-solid{
      color: white;
      font-size: 0.5rem;
}

.toPayWords{
      grid-area: toPayWords;
      /* border: 2px solid red; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* content of .toPayWords */
.toPayWordHolder{
      display: flex;
      position: absolute;
      min-height: 1rem;
      min-width: 2rem;
      border: 5px solid whitesmoke;
      border-radius: 0.7rem;
      text-decoration: none;
      color: black;
      font-size: 0.8rem;
}

.toBank{
      grid-area: toBank;
      /* border: 2px solid black; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "toBankLogo"
      "toBankWord";
      padding: 0.5rem;
}
/* contents of .toBank */
.toBankLogo{
      grid-area: toBankLogo;
      /* border: 2px solid red; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* content of .toankLogo */
.toBankLogoHolder{
      display: flex;
      position: absolute;
      min-width: 2rem;
      min-height: 2rem;
      border: 7px solid whitesmoke;
      border-radius: 0.8rem;
      padding: 0.3rem;
      justify-content: center;
      align-items: center;
}
.toBankLogoHolder .fa-solid{
      font-size: 1.4rem;
      color: green;
}

.toBankWord{
      grid-area: toBankWord;
      /* border: 2px solid blue; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* content of .toBankWord */
.toBankWordHolder{
      display: flex;
      position: absolute;
      min-width: 2rem;
      min-height: 1rem;
      border: 5px solid whitesmoke;
      border-radius: 0.7rem;
      text-decoration: none;
      color: black;
      font-size: 0.8rem;
}

.withdraw{
      grid-area: withdraw;
      /* border: 2px solid black; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "withdrawLogo"
      "withdrawWord";
      padding: 0.5rem;
}
/* contents of .withdraw */
.withdrawLogo{
      grid-area: withdrawLogo;
      /* border: 2px solid red; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* comtent of .withdrawLogo */
.withdrawLogoHolder{
      display: flex;
      position: absolute;
      min-width: 2rem;
      min-height: 2rem;
      justify-content: center;
      align-items: center;
      border: 7px solid whitesmoke;
      border-radius: 0.8rem;
      padding: 0.3rem;
}
.withdrawLogoHolder .fa-solid{
      color: green;
      font-size: 1.4rem;
}

.withdrawWord{
      grid-area: withdrawWord;
      /* border: 2px solid blue; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
.withdrawWordHolder{
      display: flex;
      position: absolute;
      min-width: 2rem;
      min-height: 1rem;
      border: 5px solid whitesmoke;
      border-radius: 0.7rem;
      text-decoration: none;
      color: black;
      font-size: 0.8rem;
}



.payBills{
      grid-area: paybills;
      background: white;
      border-radius: 0.7rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "airTime data betting tv"
      "oWealth loan play4AChild more";
      padding: 0.7rem;
      gap: 0.5rem;
}
/* contents of .payBills */
.airTime{
      grid-area: airTime;
      /* border: 2px solid black; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "airTimeLogo"
      "airTimeWord";
      gap: 0.3rem;
}
/* contents of .airtime */
.airTimeLogo{
      grid-area: airTimeLogo;
      /* border: 2px solid red; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* content of .airTimeLogo */
.airTimeLogoHolder{
      display: flex;
      position: absolute;
      min-width: 2.3rem;
      min-height: 2rem;
      border: 7px solid whitesmoke;
      border-radius: 50%;
      padding: 0.2rem;
      justify-content: center;
      align-items: center;
}
.signalBars{
      display: flex;
      position: absolute;
      min-width: 1.5rem;
      min-height: 1.5rem;
      /* border: 2px solid gold; */
      justify-content: center;
      align-items: center;
}
.airTimeLogoHolder .signalBars .fa-solid{
      color: white;
      font-size: 0.8rem;
}
.airTimeLogoHolder .fa-solid{
      color: green;
      font-size: 1.7rem;
}

.airTimeWord{
      grid-area: airTimeWord;
      /* border: 2px solid blue; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* content of .airTimeWord */
.airTimeWordHolder{
      display: flex;
      position: absolute;
      min-width: 2rem;
      min-height: 1rem;
      border: 5px solid whitesmoke;
      border-radius: 0.8rem;
      padding: 0.1rem;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 0.8rem;
}

.data{
      grid-area: data;
      /* border: 2px solid black; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "dataLogo"
      "dataWord";
      gap: 0.3rem;
}
/* contents of .data */
.dataLogo{
      grid-area: dataLogo;
      /* border: 2px solid gold; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* contents of .dataLogo */
.dataLogoHolder{
      display: flex;
      position: absolute;
      min-width: 2.3rem;
      min-height: 2rem;
      border: 5px solid whitesmoke;
      border-radius: 50%;
      padding: 0.2rem;
      justify-content: center;
      align-items: center;
}
.dataLogoHolder .fa-solid{
      color: green;
      font-size: 1.7rem;
}
.dataSignal{
      display: flex;
      position: absolute;
      min-height: 1rem;
      min-width: 1rem;
      /* border: 2px solid gold; */
      justify-content: center;

}
.dataLogoHolder .dataSignal .fa-solid{
      color: white;
      font-size: 0.8rem;
}

.dataWord{
      grid-area: dataWord;
      /* border: 2px solid red; */
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* content of .dataWord */
.dataWordHolder{
      display: flex;
      position: absolute;
      min-width: 2rem;
      min-height: 1rem;
      border: 5px solid whitesmoke;
      border-radius: 0.8rem;
      padding: 0.1rem;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      font-size: 0.8rem;
}

.betting{
      grid-area: betting;
      border: 2px solid black;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "bettingLogo"
      "bettingWord";
      gap: 0.3rem;
}
/* contents of .betting */
.bettingLogo{
      grid-area: bettingLogo;
      border: 2px solid green;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
}
/* content of .bettingLogo */
.bettingLogoHolder{
      display: flex;
      position: absolute;
}

.bettingWord{
      grid-area: bettingWord;
      border: 2px solid blue;
}

.tv{
      grid-area: tv;
      border: 2px solid black;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "tvLogo"
      "tvWord";
      gap: 0.3rem;
}
/* contents of .tv */
.tvLogo{
      grid-area: tvLogo;
      border: 2px solid gray;
}
.tvWord{
      grid-area: tvWord;
      border: 2px solid brown;
}

.oWealth{
      grid-area: oWealth;
      border: 2px solid black;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "oWealthLogo"
      "oWealthWord";
      gap: 0.3rem;
}
/* contents of .oWealth */
.oWealthLogo{
      grid-area: oWealthLogo;
      border: 2px solid red;
}
.oWealthWord{
      grid-area: oWealthWord;
      border: 2px solid blue;
}

.loan{
      grid-area: loan;
      border: 2px solid black;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "loanLogo"
      "loanWord";
      gap: 0.3rem;
}
/* contents of .loan */
.loanLogo{
      grid-area: loanLogo;
      border: 2px solid gold;
}
.loanWord{
      grid-area: loanWord;
      border: 2px solid brown;
}

.play4AChild{
      grid-area: play4AChild;
      border: 2px solid black;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "play4AChildLogo"
      "play4AChildWord";
      gap: 0.3rem;
}
/* contents of .play4AChild */
.play4AChildLogo{
      grid-area: play4AChildLogo;
      border: 2px solid gray;
}
.play4AChildWord{
      grid-area: play4AChildWord;
      border: 2px solid blue;
}

.more{
      grid-area: more;
      border: 2px solid black;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: "moreLogo"
      "moreWord";
      gap: 0.3rem;
}
/* contents of .more */
.moreLogo{
      grid-area: moreLogo;
      border: 2px solid blue;
}
.moreWord{
      grid-area: moreWord;
      border: 2px solid red;
}



.adsContainer{
      grid-area: adscontainer;
      background: white;
      border-radius: 0.7rem;
}



.footer{
      grid-area: footer;
      background: white;
      border-radius: 0.7rem;
}